@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+3:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}
.hero {
  color: #fff;
  height: 100vh;
  background: url("../assets/background-img-1.png");
  background-size: cover;
}
.hero img {
  margin-bottom: 20px;
}
.hero h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 64px;
}
.hero h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  line-height: 32px;
}

.center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main {
  max-width: 950px;
  margin: 0 auto;
  padding: 90px 0;
}

.main h2 {
  margin-bottom: 40px;
  color: #464547;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 64px;
}

.main h3 {
  margin-bottom: 45px;
  color: #666;
  font-size: 24px;
  line-height: 32px;
}
.main p {
  color: #000;

  font-size: 16px;

  line-height: 22px;
  margin-bottom: 40px;
}
.main button {
  padding: 6px 18px;
  color: #fff;
  border: none;
  border-radius: 18px;
  background: #55c2d8;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.learn-more {
  padding: 90px 0;
  color: #fff;
  background: url("../assets/background-img-2.png");
  background-size: cover;
  height: 90vh;
}

.learn-more h2 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}

.learn-more button {
  padding-left: 8px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: none;
  background-color: #39c2d7;
  margin-bottom: 70px;
}
.learn-more h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
}
footer {
  height: 200px;
  background: #464547;
  text-align: left;
  padding: 40px 140px;
}
footer img {
  height: 20px;
  margin-right: 10px;
}
footer span {
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
footer p,
a,
pre {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
}
.footer-logo {
  margin-bottom: 15px;
}
